<meta name="viewport" content="width=device-width,initial-scale=1">


<link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="../vendor/bootstrap/js/popper.min.js"></script>
<script type="text/javascript" src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- my css -->
<link rel="stylesheet" href="../css/master.css">




<title>INSPECTION</title>
